<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\Users\user\Documents\SKAGGS\Projects\ChatRMG-LangGraph\env\Scripts\python.exe"
                  arguments="C:\Users\user\Documents\SKAGGS\Projects\ChatRMG-LangGraph\ChatRMG-2026\src\run_waitress.py"
                  stdoutLogEnabled="false"
                  stdoutLogFile="C:\Users\user\Documents\SKAGGS\Projects\ChatRMG-LangGraph\python.log"
                  startupTimeLimit="120"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>